@model User

<h1 class="TextRegistr">Регистрация</h1>

<form class="Registration" method="post" asp-controller="Registration" asp-action="ShowInfo">
    <input type="text" asp-for="Name" placeholder="Введите ваше имя"><br><br>
    <input type="text" asp-for="Surname" placeholder="Введите вашу фамилию"><br><br>
    <input class="BtnRegistr" type="submit" value="Отправить">
</form>